.EWUIIcon {
    height: 75px;
    width: 75px;
    color: black;
    justify-content: center;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    .EWIconContent {
        display: inline-block
    }
}

