
.HudSegment {
    justify-content: left;
    text-align: left;
}

.EWHudTopRight {
    position: absolute;
    top:5px;
    right:5px;
    width: 250px;
    justify-content: right;
    justify-items: right;
}

.textAlignRight {
    text-align: right;
}
.textGreen {
    color: greenyellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.EWHud {
    padding: 5px;
    font-size: 24px;
    text-align: left;
    justify-content: center;
    display: flex;
    
    .EWHudBar {
        width: 70px;
        top:125px;
        right: 20px;
        height: auto;
        position: absolute;
        opacity: 0.75;

        .EWWatermark {
            font-size: 10px;
            position: absolute;
            bottom: 10px;
            left: 0px;
            text-align: center;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-Items: center;
            padding: 5px;
        }
    }
    .EWHudPhone {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 1500px;
        right: 1500px;
    }

        // No Select
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */

}