body {
    background: transparent;
}
.EWUIComponent_NumericValueSelector {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.Fullsize {
    width: 100%;
}

.InfoText {
    background-color: #ccc;
    color: #000;
}